<!DOCTYPE html>
<html>
    <head>
        {% include styles_and_scripts.html %}
    </head>
    <body>
        <div class="nav-background">
          <nav>
         <div class="logo">
            <span class="logo-inner">J</span>
          </div>
            <ul>
              <li><a href="#"><i class="icon-feather"></i><span class="offscreen">Blog</span></a></li>
              <li><a href="#"><i class="icon-megaphone"></i><span class="offscreen">Say hello</span></a></li>
              <li><a href="#"><i class="icon-twitter"></i><span class="offscreen">Twitter</span></a></li>
            </ul>
          </nav>
        </div>
        <div class="header-container">
          <header>
            <!--<h1 class="title"><a href="/">{{ site.name }}</a></h1>-->
            <h1><span class="main-heading">Jack Furness</span><span class="offscreen">:</span> <span class="faux-subheading">Designer, developer, ux &amp; nonsense based in Manchester.</span></h1>
          </header>
        </div>
        <div class="main-background">
          <div class="main-container">
            <section class="homepage-posts">
              {{ content }}
            </section>
          </div>
        </div>
        <footer>
           <nav>
         <div class="logo">
            <span class="logo-inner">J</span>
          </div>
            <ul>
              <li><a href="#"><i class="icon-feather"></i><span class="offscreen">Blog</span></a></li>
              <li><a href="#"><i class="icon-megaphone"></i><span class="offscreen">Say hello</span></a></li>
              <li><a href="#"><i class="icon-twitter"></i><span class="offscreen">Twitter</span></a></li>
            </ul>
          </nav>
        </footer>
    </body>
</html>
