<!DOCTYPE html>
<html>
    <head>
        {% include styles_and_scripts.html %}
    </head>
    <body>
        <div class="nav-background">
          <nav>
         <div class="logo">
            <a href="/index.html" class="logo-inner">J<span class="offscreen">ack Furness</span></a>
          </div>
            <ul>
              <li><a href="#"><i class="icon-feather"></i><span class="offscreen">Blog</span></a></li>
              <li><a href="mailto:jackfurness@gmail.com?subject=Hello!"><i class="icon-megaphone"></i><span class="offscreen">Say hello</span></a></li>
              <li><a href="https://twitter.com/j_furness"><i class="icon-twitter"></i><span class="offscreen">Twitter</span></a></li>
            </ul>
          </nav>
        </div>
        <div class="header-container">
          <header>
            <h1><span class="main-heading">{{ site.name }}</span><span class="offscreen">:</span> <span class="faux-subheading">Designer, developer, ux &amp; nonsense based in Manchester.</span></h1>
          </header>
        </div>
        <div class="main-background">
          <div class="main-container">
            <section class="homepage-posts">
              {{ content }}
            </section>
          </div>
        </div>
        <footer>
           <nav>
         <div class="logo">
            <a href="/index.html" class="logo-inner">J<span class="offscreen">ack Furness</span></a>
          </div>
            <ul>
              <li><a href="#" title="Blog"><i class="icon-feather"></i><span class="offscreen">Blog</span></a></li>
              <li><a href="mailto:jackfurness@gmail.com?subject=Hello!" title="Email"><i class="icon-megaphone"></i><span class="offscreen">Say hello</span></a></li>
              <li><a href="https://twitter.com/j_furness" title="@j_furness"><i class="icon-twitter"></i><span class="offscreen">Twitter</span></a></li>
            </ul>
          </nav>
        </footer>
    </body>
    {% include bottom_styles_and_scripts.html %}
</html>
